nav#menu.nav
	button#menuTrigger.nav__btn
		span.nav__btn-line
	ul#menuList.nav__list
		li.nav__item
			a.nav__link(href="#") Игровой зал
		li.nav__item
			a.nav__link(href="#") Гаминатор
		li.nav__item
			a.nav__link(href="#") Лотереи
		li.nav__item
			a.nav__link(href="#") Бонусы
		li.nav__item
			a.nav__link(href="#") Vip-Клуб