- var pageTitle = "Vulcan Test Page";
include components/main/templates/head.pug
body
	.wrapper
		.top-page
			aside.sidebar
				.sidebar__item
					include components/navigation/templates/nav.pug
				.sidebar__item
					.target
						header.target__item
							a.logo(href="#", title="Vulcan Casino")
						.target__item
							h3.form-title Зарегистрируйся сейчас:
						.target__item
							form.welcomeform
								div.welcomeform__item
									input(type="email", class="welcomeform__text" placeholder="Введите E-mail", name="email")
								div.welcomeform__item
									input(type="password", class="welcomeform__text" placeholder="Введите пароль", name="password")
								div.welcomeform__item
									input(type="submit", class="welcomeform__btn" placeholder="Введите E-mail", value="Регистрация")
						footer.target__item
							span.agree
								| Регистрируясь в казино Русский Вулкан, вы соглашаетесь с 
								a(href="#") правилами казино.
			h2.join-text
				| Присоединяйтесь к
				span 8 756
				| счастливчиков
		.bottom-page
			ul.partners
				li.partners__item
					img.partners__img(src="images/c1.png", alt="")
				li.partners__item
					img.partners__img(src="images/c2.png", alt="")
				li.partners__item
					img.partners__img(src="images/c3.png", alt="")
				li.partners__item
					img.partners__img(src="images/c4.png", alt="")
				li.partners__item
					img.partners__img(src="images/c5.png", alt="")
				li.partners__item
					img.partners__img(src="images/c6.png", alt="")

include components/main/templates/scripts.pug
