doctype html
html(lang='en')
  head
    meta(charset="UTF-8")
    meta(name="author", content="Nazar Linovetskiy")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{pageTitle}
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700,800&amp;subset=cyrillic")
    link(rel='stylesheet', href='styles/general.css')
