@import "vars";
@import "mixins";

html, body, div, span, applet,
object, iframe,
h1, h2, h3, h4, h5, h6, p,
blockquote, pre,
a, abbr, acronym, address, big,
cite, code, del, dfn, em,
img, ins, kbd, q, s,
samp, small, strike,
strong, sub, sup, tt,
var, dl, dt, dd, ol, ul,
li, fieldset, form, label,
legend, table, caption,
tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

html, body {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}

html {
    background: url("../images/bg.jpg") no-repeat top center, #000;
    box-sizing: border-box;
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
}

html, 
body {
    height: 100%;
}

.wrapper {
    max-width: 1100px;
    width: 90%;
    margin: 0 auto;
    text-align: left;
}

.sidebar {
    width: 450px;
    margin: 50px 0;
    display: inline-block;

    &__item {
        margin: 0 0 10px;
        .gradient (rgba(0,11,32,.8), rgba(0,16,47,.8));
        border: 1px solid rgba(11, 29, 62, .8);
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
    }
}

.is--mobile .sidebar__item:first-child {
    background: none;
    border: none;
}

.target {
    width: 80%;
    margin: 25px auto;
    text-align: center;

    &__item {
        margin: 0 0 10px;

        &:first-child {
            margin: 0 0 20px;
        }

        &:last-child {
            padding: 0 30px;
        }
    }
}

.logo {
    display: block;
    width: 252px;
    height: 103px;
    margin: 0 auto;
    background: url("../images/logo.png") no-repeat center center;
    background-size: cover;
}

.form-title {
    font-size: 18px;
    line-height: 26px;
    font-weight: 600;
    color: #ffa800;
}

.welcomeform {

    &__item {
        margin: 0 0 9px;
    }

    &__text {
        display: inline-block;
        width: 100%;
        max-width: 330px;
        margin: 0 auto;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        font-style: italic;
        padding: 12px 15px;
        border-radius: 3px;
        background: #e1e5ed;
        border: none;
        color: #7c818c;
        font-weight: 400;
        text-align: center;
    }

    &__btn {
        cursor: pointer;
        width: 100%;
        max-width: 330px;
        margin: 0 auto;
        position: relative;
        top: 0px;
        font-size: 24px;
        background-image: url("../images/btnbg.png"), linear-gradient(to bottom, #ff9555 1%,#ff6b46 4%,#ff6b46 47%,#e8210c 63%,#b20100 100%);
        padding: 10px 20px;
        border: 1px solid #cf0100;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -webkit-box-shadow: 0px 5px 0px #4e0000;
        -moz-box-shadow: 0px 5px 0px #4e0000;
        -ms-box-shadow: 0px 5px 0px #4e0000;
        -o-box-shadow: 0px 5px 0px #4e0000;
        box-shadow: 0px 5px 0px #4e0000;
        color: #fff;
        text-shadow: 1px 1px 2px #000;
        text-transform: uppercase;
        font-weight: 800;
        -webkit-transition: All 250ms ease;
        -moz-transition: All 250ms ease;
        -o-transition: All 250ms ease;
        -ms-transition: All 250ms ease;
        transition: All 250ms ease;

        &:active {
            position: relative;
            top: 5px;
            -webkit-box-shadow: none !important;
            -moz-box-shadow: none !important;
            -ms-box-shadow: none !important;
            -o-box-shadow: none !important;
            box-shadow: none !important;
            -webkit-transition: All 250ms ease;
            -moz-transition: All 250ms ease;
            -o-transition: All 250ms ease;
            -ms-transition: All 250ms ease;
            transition: All 250ms ease;
        }
    }

    &__text:focus,
    &__btn:focus {
        outline: none;
    }
}

.agree {
    font-size: 12px;
    color: #949eb4;

    & a:link {
        color: #f4a101;
    }

    & a:hover {
        color: #7086af;
    }
}

.join-text {
    display: inline-block;
    vertical-align: top;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 300;
    color: #667db4;
    margin: 50px 0 0 50px;
    max-width: 200px;
    line-height: 38px;

    & span {
        font-size: 38px;
        line-height: 38px;
        font-weight: 800;
        display: inline-block;
        margin: 0 5px;
        color: #a2b4df;
    }
}

.bottom-page {
    color: #fff;
}

.partners {
    margin: 50px 0;
    list-style: none;
    padding: 0;
    text-align: center;

    &__item {
        display: inline-block;
    }

    &__img {
        display: inline-block;
    }
}


small {
    font-size: .875rem;
}

/* START: Default links style */
a {
    .transition (color .4s);
    color: #265C83;

    &:link,
    &:visited {
        color: #265C83;
    }

    &:hover {
        color: #ffa800;
    }

    &:active {
        color: #3C40A3;
    }
}
/* END: Default links style */

@media (max-width: 960px) {
    .join-text {
        margin: 0 0 50px;
        max-width: 100%;
        width: 100%;
    }
}

@media (max-width: @tablet) {

    .logo {
        width: 180px;
        height: 74px;
    }

    .sidebar {
        width: 100%;
    }

    .welcomeform {

        &__btn {
            font-size: 18px;
        }
    }

    .join-text {
        text-align: center;
        font-size: 18px;
        line-height: 32px;

        & span {
            font-size: 32px;
            line-height: 32px;
        }
    }
}