.transition (@transition) {
	  -webkit-transition: @transition;
	  -moz-transition:    @transition;
	  -ms-transition:     @transition;
	  -o-transition:      @transition;
      transition:         @transition;
}

.gradient (@startColor: #eee, @endColor: white) {
	  background-color: @startColor;
	  background: -webkit-linear-gradient(-45deg, @startColor, @endColor);
	  background: -moz-linear-gradient(-45deg, @startColor, @endColor);
	  background: -ms-linear-gradient(-45deg, @startColor, @endColor);
	  background: -o-linear-gradient(-45deg, @startColor, @endColor);
}
