.nav {
    position: relative;

    &__btn {
        display: none;
        margin: 0 0 0 5px;
        position: relative;
        z-index: 102;
        padding: 0;
        border: none;
        background: none;
        width: 2rem;
        height: 2rem;
        cursor: pointer;

        &:focus {
            outline: none;
        }
    }

    &__btn-line {
        position: relative;
        display: block;
        width: 100%;
        height: 5px;
        background-color: #888;
        transition: all 0.3s;
        backface-visibility: hidden;
        border-radius: 2px;

        &::after,
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: -9px;
            width: 100%;
            height: 5px;
            background-color: #888;
            transition: all 0.3s;
            backface-visibility: hidden;
            border-radius: 2px;
        }

        &::after {
            top: 9px;
        }
    }


    &__list {
        text-align: center;
    }

    &__item {
        display: inline-block;
    }

    &__link {
        display: inline-block;
        padding: 15px 12px;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 11px;
    }

    &--active {

        .nav__list {
            display: block;
            position: absolute;
            z-index: 101;
            top: 43px;
            left: 1px;
            width: 150px;
            height: auto;
        }

        .nav__item {
            display: block;
        }

        .nav__link {
            display: block;
            background: rgba(4,13,30,.88);

            &:hover {
                background: rgba(4,13,30,.96);
            }
        }

        .nav__btn-line {
            background-color: transparent;

            &::before {
                transform: rotate(45deg) translate(5px, 5px);
            }

            &::after {
                transform: rotate(-45deg) translate(7px, -8px);
            }
        }
    }
}

@media (max-width: @tablet) {

    .nav {

        &__btn {
            display: block;
        }

        &__list {
            display: none;
        }

    }
    
}